*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: #fcf7f7;
  color: rgb(245, 250, 245);
  /* font-family: "Press Start 2P", cursive; */
  font-family: 'Roboto',sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  
}

html{
  scroll-behavior: smooth;
}

/* NAVBAR STYLES -------------------------------------------------------------------------------------------- */
nav{
  background-color: rgb(36, 69, 216);
  
}

nav ul{
  cursor: pointer;
  }
/* .navbar-nav{
  display: flex;
  justify-content: space-evenly;

} */
.btnimage{
  object-fit: cover;
  width: 30px;
}  
.socialicons{
    object-fit: cover;
    width: 30px;
  }

  /* ---------------------------------------------------------------------------------------------------------- */
/* Home------------------------------------------------------------------------------------------------------- */
  .Hero{
    background-color: rgb(195, 218, 144);
    min-height: 100svh;
  }
  



  /* ----------------------------------------------------------------------------------------------------------- */
 /* About------------------------------------------------------------------------------------------------------- */
  .About{
    background-color: rgba(24, 64, 196, 0.911);
    min-height: 100svh;
  }
  


  /* ------------------------------------------------------------------------------------------------------------- */
 /* Projects------------------------------------------------------------------------------------------------------- */
.Projects{
  background-color: rgb(10, 100, 66);
  min-height: 100svh;
}




/* --------------------------------------------------------------------------------------------------------------- */
/* Contact-------------------------------------------------------------------------------------------------------- */





/* ---------------------------------------------------------------------------------------------------------------- */
/* Footer---------------------------------------------------------------------------------------------------------- */
#Contact{
  background-color: rgba(74, 243, 178, 0.884);
  min-height: 50svh;
}
/* .contact-icons{
  object-fit: cover;
  width: 25px;
} */

